.button {
  border: 1px solid #FFB100;
  background-color: #FFB100;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 31px;
  padding: 0 10px 3px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    border-color: white;
    opacity: 0.9;
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      border-color: #FFB100;
      opacity: 0.5;
    }
  }
}