@import "../../styles/sizes";

.header {
  z-index: 30000;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  box-shadow: 0 0 20px white;
  min-width: 740px;

  @media (max-width: $mobile) {
    min-width: auto;
    width: 100%;
  }



  .left-part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    opacity: 0;
    .button {
      cursor: default;
    }

    @media (max-width: $mobile) {
      padding-left: 10px;
    }
  }

  .center-part {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .date-picker {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .react-datepicker-popper {
        @media (max-width: $mobile) {
          transform: none !important;
          position: fixed !important;
          top: 45px !important;
          left: calc((100% - 242px)/2) !important;
        }
      }

      .react-datepicker__day, .react-datepicker__navigation {
        outline: none;
      }

      &.start-date {
        margin-right: 10px;
      }

      &.end-date {
        margin-left: 10px;

        @media (max-width: $mobile) {
          .react-datepicker__triangle {
            right: 41px;
            left: auto !important;
          }
        }
      }

      .date-button {
        user-select: none;
        cursor: pointer;
        padding: 5px 15px;
        border-radius: 4px;
        background-color: #216ba5;
        font: inherit;
        color: #fff;

        &:hover {
          opacity: 0.7;
        }

        @media (max-width: $mobile) {
          font-size: 12px;
        }
      }
    }
  }



  .right-part {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;

    @media (max-width: $mobile) {
      padding-right: 10px;
    }
  }
}